@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&family=Roboto:wght@100;500;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

header{
    position: absolute;
    width: 100%;
    top: 0;
}

.container{
    position: relative;
}

.menu{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    z-index: 2000;
}


.nav_menu{
    display: flex;
    justify-content: space-between;
    width: 40%;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

.header_logo{
    line-height: 55px;
}

.menu_item{
    line-height: 55px;
    
}

.phone_block{
    display: flex;
    flex-direction: column;
}


.number{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
}

.schedule{
    font-style: normal;
    font-size: 12px;
    text-align: center;
}

.menu_btn{
    background: #F7D231;
    width: 184px;
    height: 54px;
    border: none;
}





.backgraund{
    height: 730px;
    background:url('../img/bg_1.png')center center/cover no-repeat;
}

.subheader{
    margin-top: -630px;
}

.subheader_content{
    display: flex;
}


.left_side{
    width: 38vw;
}
.main_title{
    margin-top: 145px;
    width: 600px;
    text-align: left;
    font-weight: 900;
    font-size: 60px;
    line-height: 93px;
}




.subheader_btn{
    margin-top: 40px;
    background: #F7D231;
    width: 300px;
    height: 75px;
    border: none;
}


.bg_man{
    background:url('../img/man.png')center center/cover no-repeat;
    width: 490px;
    height: 587px;
    margin-top: 40px;
}

.extra_info{
    display: flex;
    margin-top: 105px;
}

.onmarket{
    display: flex;
    margin-right: 60px;
}

.block{
    width: 35px;
    height: 35px;
    background-color:#F7D231;
    text-align:center;
    font-weight: 500;
    font-size: 24px;
    margin-right: 5px;
}

.little_info{
    text-align:center;
    font-weight: 500;
    font-size: 24px;
}

.sm_subheader_btn{
    display: none;
}


.adv_title{
    display: block;
    margin: 160px auto 0 auto;
    width: 570px;
    text-align: center;
    border-bottom: 5px solid #F7D231;
}


.adv_block{
    margin-top: 75px;
    padding:40px 60px;
    border: 2px solid #EEEEEE;
}

.icon_first{
    background: url('../icons/perspective\ 1.png')center center/cover no-repeat;
    width : 100px;
    height: 100px;
    margin: 0 auto;
}


.icon_second{
    background: url('../icons/Group.png')center center/cover no-repeat;
    width : 100px;
    height: 100px;
    margin: 0 auto;
}

.icon_third{
    background: url('../icons/XMLID\ 1077.png')center center/cover no-repeat;
    width : 100px;
    height: 100px;
    margin: 0 auto;
}

.adv_subtitle{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}


.kinds_title{
    display: block;
    margin: 160px auto 0 auto;
    width: 470px;
    text-align: center;
    border-bottom: 5px solid #F7D231;
}

.kinds_block{
    padding:15px;
    margin-top: 100px;
    overflow: hidden;
    max-width: 315px;
    height: 295px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}




.line{
    display: flex;
    justify-content: space-between;
    height: 20px;
    margin-top: 5px;
}

.name_kinds{
    font-weight: bold;
    margin-bottom: 0;
}

.subtitle_kinds{
    font-size: 10px;
}

.contents_kinds{
    margin-top: 20px;
    max-width: 300px;
    height: 170px;
    padding-right: 10px;
    overflow: hidden;
}

.line_divider{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.divider{
    display: block;
    width: 60px;
    border-bottom: 1px solid black;
}

.line_price{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.price{
    font-weight: bold;
}

.calculator_title{
    display: block;
    margin: 160px auto 0 auto;
    width: 570px;
    text-align: center;
    border-bottom: 5px solid #F7D231;
}

.calc_row{
    margin-top: 65px;
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
}

.square_block{
    width: 300px;
    padding-right: 30px ;
}

.card_title{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 30px;
}

.elements_block{
    width: 300px;
    padding-left: 30px; 
    padding-right: 30px;
    height: 200px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.materials_block{
    width: 300px;
    padding-left: 30px;
}


.calc_line{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.inputs{
    width: 40px;
    text-align: center;
}

.input_wrapper::before{
    content:"-";
    margin-right: 3px;
}

.input_wrapper::after{
    content:"+";
    margin-left: 3px;
}


.calc_radio{
    display: flex;
}

.radio{
    width: 50px;
}

#materials{
    width: 200px;
}

.client_price{
    width: 200px;
    height: 30px;
display: flex;
margin: 100px auto 30px auto;
}

.call_btn{
    display: block;
    margin: 0 auto;
    background: #F7D231;
    width: 300px;
    height: 75px;
    border: none;
}


.slider_part{
    margin-top: 160px;
}

.slider_title{
    display: block;
    margin: 160px auto 0 auto;
    width: 370px;
    text-align: center;
    border-bottom: 5px solid #F7D231;
}

.big_img{
    margin-top: 30px;
    width: 100%;
    height: 395px;
}

.carousel{
    margin-top: 80px;
    width: 100%;
    height: 200px;
    overflow: hidden;
    
    margin-bottom: 100px;
}

.img_wrapper{
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.slider{
    margin-right: 30px;
    
}

.slide{
    min-width: 300px;
    height: 200px;
}






.form_title{
    margin: 0 auto;
    
    width: 300px;
    text-align: center;
    border-bottom: 5px solid #F7D231;
}

.name{
    margin-top: 20px;
    width: 100%;
    height: 30px;
}

.surname{
    margin-top: 20px;
    width: 100%;
    height: 30px;
}

.question{
    margin-top: 20px;
    width: 100%;
    height: 150px;
}




.social_line{
    display: flex;
    margin-top: 20px;
}
.social_line:first-child{
    margin-top: 10px;
}

.social_content{
    align-self: center;
    color:black;
    font-size: 14px;
}
.mail_icon{
    margin-right: 25px;
    width: 40px;
    height: 40px;
    background:url('../icons/gmail.png')center center/cover no-repeat;
}

.insta_icon{
    margin-right: 25px;
    width: 40px;
    height: 40px;
    background:url('../icons/instagram.png')center center/cover no-repeat;
}

.call_icon{
    margin-right: 25px;
    width: 40px;
    height: 40px;
    background:url('../icons/whatsapp.png')center center/cover no-repeat;
}


.send_btn{
    margin-top: 25px;
    width: 100%;
    height: 40px;
    border:none;
    background: #F7D231;
}


footer{
    margin-top: 100px;
    width: 100%;
    height: 250px;
    background-color:#1A1A1A;
}



@media screen and (max-width:992px){
    .link_item{
        font-size: 14px;
    }
    .number{
        font-size: 25px;
    }
    .schedule{
        font-size: 10px;
    }
    .menu_btn{
        width: 150px;
    }

    .backgraund{
        height: 560px;
    }

    .subheader{
        margin-top: -470px;
    }
    .left_side{
        width: 45vw;
    }
    .main_title{
        margin-top: 30px;
        width: 600px;
        text-align: left;
        font-weight: 900;
        font-size: 52px;
        line-height: 93px;
    }

    .extra_info {
        display: flex;
        margin-top: 50px;
    }
    .onmarket {
        display: flex;
        margin-right: 20px;
    }
    .little_info {
        font-size: 18px;
    }

    .bg_man {
        width: 370px;
        height: 420px;
        margin-top: 50px;
    }

    .adv_block{
        padding:10px;
    }
    .adv_subtitle{
        font-size: 17px;
    }

    .icon_first{
        width : 80px;
        height: 80px;
    }
    
    
    .icon_second{
        width : 80px;
        height: 80px;
    }
    
    .icon_third{
        width : 80px;
        height: 80px;
    }

    .adv_descr{
        margin-top: 10px;
        font-size: 13px;
    }
}

















@media screen and (max-width:768px){
    .backgraund{
        height: 450px;
    }

    .header_logo{
        font-size: 30px;
        line-height: 40px ;
    }

    .nav_menu{
        display: block;
        position: absolute;
        left: -350px;
    }
    .number{
        font-size: 30px;
    }
    .schedule{
        display: none;;
    }
    .menu_btn{
        display:none;
    }

    .hamburger{
        margin-top: 8px;
        width: 40px;
        height: 32px;
    }

    .active.top{
        transform: rotate(-45deg) translate(-8px, 10px);;
        transition-duration: 0.4s;
    }
    .active.middle{
        display: none;
    }
    .active.bottom{
        transform: rotate(45deg)translate(3px, 1px);
        transition-duration: 0.4s;
    }
    
    .top{
        margin-bottom: 4px;
        display:block;
        width: 40px;
        height: 6px;
        background:black;
    }
    
    .middle{
        display:block;
        width: 40px;
        height: 6px;
        background:black;
        margin-bottom: 4px;
    }
    
    .bottom{
        display:block;
        width: 40px;
        height: 6px;
        background:black;
    }

    .link_item{
        font-size: 13px;
    }
   
    .menu_btn{
        display: none;
    }
    .left_side{
        width: 42vw;
    }

    .subheader{
        margin-top: -370px;
    }
    .main_title{
        margin-top: 20px;
        width: 480px;
        text-align: left;
        font-weight: 900;
        font-size: 45px;
        line-height: 50px;
    }

    .extra_info {
        display: block;
        margin-top: 50px;
    }
    .onmarket {
        display: flex;
        margin-bottom: 30px;

    }
    .little_info {
        font-size: 17px;
    }

    .subheader_btn{
        display: none;
    }

    .bg_man {
        width: 250px;
        height: 300px;
        margin-top:70px;
    }

    .sm_subheader_btn{
        display: block;
        margin: -33px auto;
        width: 350px;
        height: 72px;
        z-index: 100;
        background-color: #F7D231;
    }
    
    .adv_block{
        padding: 10px 10px;
    }

    .icon_first{
        
        width : 80px;
        height: 80px;
        
    }
    
    
    .icon_second{
        
        width : 80px;
        height: 80px;
        
    }
    
    .icon_third{
       
        width : 80px;
        height: 80px;
        
    }


    .wrap{
        padding-right: 100px;
        padding-left: 100px;
    }

    .kinds_block{
        margin: 100px auto;
    }
}






@media screen and (max-width:576px){

    .link_item{
        font-size: 13px;
    }

    .header_logo{
        font-size: 30px;
        line-height: 25px;
    }
    .number{
        font-size: 20px;
    }
    .schedule{
        font-size: 9px;
    }
    .menu_btn{
        width: 150px;
    }
    .hamburger{
        margin-top: 0;
    }
    .top{
        width: 35px;
        height: 5px;
    }
    .middle{
        width: 35px;
        height: 5px;
    }
    .bottom{
        width: 35px;
        height: 5px;
    }

    .left_side{
        width: 50vw;
    }
    .main_title{
        width: 290px;
        font-size: 29px;
        line-height: 50px;
    }

    .extra_info {
        margin-top: 25px;
    }
    .onmarket {
        display: flex;
        margin-right: 10px;
    }
    .little_info {
        font-size: 16px;
    }

    .bg_man {
        width: 220px;
        height: 260px
    }
    
    .sm_subheader_btn{
        margin: 0px auto;
        width: 240px;
        height: 62px;
    }

}



@media screen and (max-width:480px){
    .right_side{
        display: none;
    }
}





















